<!DOCTYPE html>
<html lang="en">
	<title>500</title>
    <% include partials/head.ejs %>
    
    
<body style="overflow: hidden;">
	<header id="s-header">
		<div class="container">		
			<div id="main-text">
				<div class="row">
					<div class="col-xl-6 col-lg-8">
						<h1>Error 500</h1>		
					</div>
					<div class="img_wrap">
						<img src="/img/hacker.png" alt="">
					</div>
					<div class="img_wrap" style="left: 0">
						<img src="/img/main-bg-min.png" alt="">
					</div>
				</div>			
			</div>
		</div>	
	</header>
</body>
</html>