<div class="ui segment">
	<div class="ui top attached tabular inverted white menu" style="
    margin-left: 0!important;
    margin-right: 0!important;">
        
        <div class="right menu">
            <button onclick="updateButton(this, '0xCB')" class="ui blue button"> <i
                    class="icon sync"></i>Update</button>
        </div>
    </div>
    <table class="ui sortable celled table" id="tabClip">
        <thead>
            <tr>
                <th>Time</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>

            <% pageData.forEach((cpb) => { 
            		let date = new Date(parseInt(cpb.date));
                %>
            <tr>
                <td data-sort-value="<%=cpb.date %>" class="collapsing"><%= date.toLocaleString('ru-RU', { timeZone: 'Asia/Yekaterinburg' }) %></td>
                <td><%= cpb.text %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('table').tablesort();
</script>